<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head> <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
  <title>Freeciv Valhalla Privacy Policy</title>
  </head>
  
  <body background="http://www.val.freecivweb.org/static/images/background-pattern.jpg">
    <p><b>Secure Data Transfer</b></p>
<p>Freecivweb encrypts your personal data before it is transferred. We use the coding system SSL (Secure Socket Layer). In addition, freecivweb ensures that its websites and other systems are protected as far as possible by technical and organizational measures against unauthorized access, modification or dissemination of data by unauthorized persons.</p>
<br>
<p><b>Right to Cancellation</b></p>
<p>In accordance with applicable legal requirements, you can also block, rectify or delete the data we collected from you and revoke the consent given to us for data collection and use without giving reasons. Related inquiries should be sent by e-mail (including information that allows us to verify your identity) to the contact address stated below.</p>
<br>
<p><b>Use of Personal Data</b></p>
<p>Personal data is individual information about factual or personal circumstances of an identified or identifiable natural person, such as e.g. name, address, telephone number, etc. Data collected when visiting the pages www.freecivweb.org are not personal data if they cannot be directly associated with you.</p>
<br>
<p>Disclosed data may only be used by the recipients to fulfill legal obligations or contractual obligations or for the purposes of detecting cheating behaviour.</p>
<br>

  </body>


</html>